html {
    font-size: 10px;
    background: url('bg.jpg') ;
    background-size: cover;
  }

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer{
    display: flex;
    bottom: 0;
    background-color: black;
    color: #f33427;
}

a{
    color: #f33427;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #f33427;
    box-shadow: 0 0 1rem #f33427;
}
  
kbd {
    display: block;
    font-size: 4rem;
}
  
.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #f33427;
}
  